body {
    padding: 0px;
    margin: 0px;
}

.nav-container {
    background-color: rgb(231, 231, 230);
    height: 7vh;
    display: flex;
    padding: 0.5px;
    border-bottom: 1px solid black;
}

.nav-heading {
    height: auto;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    width: 60vw;
    height: auto;

}

.nav-usertools {
    width: 18vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2px;
}

.bi {
    color: rgb(152, 50, 50);
    font-style: normal;
}

.nav-heading h3 {
    color: rgb(60, 52, 52);
    text-align: center;
}

.nav-heading a:hover {
    text-decoration: none;
}

.listing {
    padding: 5px;
}