body {
    padding: 0px;
    margin: 0px;
}

.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgb(231, 231, 230);
    height: 7vh;
    display: flex;
    padding: 0.5px;
    border-bottom: 1px solid rgb(82, 78, 78);
}

.navbar-spacer {
    height: 10px;
}

.nav-heading {
    height: auto;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    width: 60vw;
    height: auto;

}

.nav-usertools {
    width: 18vw;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    padding-top: 2px;
}

.bi {
    color: rgb(152, 50, 50);
    font-style: normal;
}

.nav-heading h3 {
    color: rgb(60, 52, 52);
    text-align: center;
}

.nav-heading a:hover {
    text-decoration: none;
}

.form-container {
    padding: 5px;
}


/* for index */
.listings-container {
    padding: 5px;
    display: flex;
    border: 2px solid red;
}

.product-container {
    height: 40vh;
    width: 20vw;
    border: 2px solid rgb(1, 68, 9);
    margin: 2px;
    padding: 2px;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.info-container {}

.price-container {}