{% extends "auctions/layout.html" %}

{%block title %} {{ listing.title}} {% endblock %}

{% block body %}
<div class="detail-product-container">
    <div class="detail-image-container">
        <img src="{{ listing.image_url }}" alt="image for {{ listing.title }}">
    </div>
    <div class="detail-info-container">
        <div class="product-title">
            {{ listing.title }}
            <hr>
        </div>
        <div class="product-description">
            {{ listing.description }}
        </div>
        <div class="product-price">
            Leading Bid: ${{ listing.starting_bid }}
        </div>
        <a href="">
            <div class="bid-on">
                Comment >>
            </div>
        </a>
        <div class="product-comments">
            No comments Yet
        </div>
    </div>
</div>
{% endblock %}