{% extends "auctions/layout.html" %}

{%block title %} {{ listing.title}} {% endblock %}

{% block body %}
<div class="detail-product-container">
    <div class="detail-image-container">
        <img src="{{ listing.image_url }}" alt="image for {{ listing.title }}">
    </div>
    <div class="detail-info-container">
        <div class="product-title">
            {{ listing.title }}
            <hr>
        </div>
        <div class="product-description">
            {{ listing.description }}
        </div>
        <div class="product-price">
            Leading Bid: ${{ listing.starting_bid }}
        </div>
        <div class="messages-container">
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <div class="detail-tool-container">
            <! check if user is not owner and allow user to bid>
                {% if request.user != listing.owner %}
                <div class="bid-on">
                    <form action="{% url 'bid-on' listing.pk %}" class="bidding-form" method="post">
                        {% csrf_token %}
                        <input type="number" class="form-control" name="bid" placeholder="Bid here...">
                        <button type="submit" class="btn btn-primary">Bid</button>
                    </form>
                </div>


                {% if in_watchlist %}
                <!-- Remove from watchlist -->
                <div class="watchlist">
                    <form action="{% url 'watch-list' listing.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="remove">
                        <button type="submit" class="btn btn-danger">Remove from watchlist</button>
                    </form>
                </div>
                {% else %}
                <!-- Add to watchlist -->
                <div class="watchlist">
                    <form action="{% url 'watch-list' listing.pk %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="add">
                        <button type="submit" class="btn btn-primary">Add to watchlist</button>
                    </form>
                </div>
                {% endif %}
                {% endif %}


        </div>
    </div>
</div>

<div class="product-comments">
    <div class="create-comment">
        <form action="{% url 'comment-on' listing.pk %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" style="height: 35px" placeholder="Add your comments . . ."
                name="comment"></textarea>
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    </div>

    {% for comment in comments %}
    <div class="view-comments">
        <div class="comment-credit"><b>{{ comment.author }}</b> on {{ comment.timestamp }}</div>
        <div class="comment-content"> {{ comment.content }} </div>
    </div>
    {% endfor %}
</div>
{% endblock %}