{% extends "auctions/layout.html" %}

{% block body %}
<div class="listings-container">
    {% for listing in listings %}
    <a href="{% url 'detail-listing' listing.pk %}">
        <div class="product-container">
            <div class="image-container">
                <img src="{{ listing.image_url}}" alt="image for {{ listing.title}}">
            </div>
            <div class="info-container">
                {{ listing.title|truncatechars:20 }}
                <div class="price-container">
                    ${{ listing.starting_bid }}
                </div>
            </div>

        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}